@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	height: 100vh;
	margin: 0;
	overflow: hidden;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

img {
	width: 600px;
}

button {
	font-family: Roboto, sans-serif;
	border: none;
	border-radius: 8px;
	background: #eee;
}

input {
	border: 1px solid #ddd;
	border-radius: 16px;
	padding: 8px 24px;
	width: 400px;
}

li > a {
	text-decoration: none;
	color: rgba(93, 92, 92, 0.808);
}

div > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-inline: 20px;
	padding-top: 10px;
}

.right-links {
	display: flex;
	gap: 20px;
}

.left-links {
	display: flex;
	gap: 20px;
}

.footer {
	background-color: rgba(236, 232, 232, 0.799);
	display: flex;
	justify-content: space-between;
	padding-inline: 20px;
	padding-block: 10px;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	padding: 10px;
}

input {
	margin-bottom: 10px;
}
